.header {
    max-width: 880px;
    height: 74px;
    margin: 0 auto;
    padding: 45px 0 0;
    border-bottom: 1px solid rgba(84,84,84,.7);
    
}

@media screen and (min-width: 1280px) {
  .header {
    width: calc((100vw - 320px) / (1280 - 320) * (880 - 320) + 300px);
    padding: calc((100vw - 320px) / (1280 - 320) * (45 - 28) + 28px) auto 0;
    padding-bottom: calc((100vw - 320px) / (1280 - 320) * (35 - 30) + 28px);
   
}
    
}
