.logo {
top: 45px;
padding-left 1;
}


@media screen and (min-width: 1280px) {
    .logo {
        width: calc((100vw - 320px) / (1280 - 320) * (142 - 103.7) + 103.7px);
        padding-left: calc((100vw - 320px) / (1280 - 320) * (0 - 27) + 27px);
      }
}
