.card__btn-delete {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 18px;
    border: none;
    padding: 0;
    background: url(../../../images/Delete.png);
    cursor: pointer;
    transition: opacity 0.2s;
    align-self: center;
}
